{
  "ConnectionStrings": {
      "DbConnection": "Host=localhost;Port=5432;Database=project-name;Username=postgres;Password=postgres;Integrated Security=false;"
  },

  "MQ": {
    "Cluster": "host=localhost;username=guest;password=guest;publisherConfirms=true;timeout=10"
  },

  "Logging": {
      "IncludeScopes": false,
      "LogLevel": {
          "Default": "Debug",
          "System": "Information",
          "Microsoft": "Information"
      }
  }
}