{
    "MQ": {
      "Cluster": "host=rabbit;username=guest;password=guest"
    },
    
    "Logging": {
        "LogLevel": {
            "Default": "Warning"
        }
    },
    "AllowedHosts": "*"    
  }